%article
  .header
    %h3.d-inline= blog.title
    .float-right.mt-1
      = blog.created_at.strftime('%b %e %Y')
  .body
    ~ blog.summary_html
  - if blog.story.present?
    .footer
      = link_to t("blog.more"), blog
