%article
  .header
    %h3.d-inline= blog.title
    .float-end.mt-1
      = blog.created_at.strftime("%b %e %Y")
  .body
    ~ blog.summary_html
  - if blog.story.present? || blog.user.present?
    .footer
      - if blog.story.present?
        = link_to t("blog.more"), blog
      - if blog.user.present?
        .float-end.small.mt-1
          = blog.user.handle
