.text-center
  = form.submit t("save"), class: "btn btn-primary"
  = link_to t("cancel"), object.new_record?? index : object, class: "btn btn-secondary"
  - unless object.new_record?
    = link_to t("delete"), object, class: "btn btn-danger", method: :delete, data: { confirm: t("sure") }
