%section
  .body
    %p
      We meet on <b>Tuesday</b> evenings in <b>Clarke's Bar</b> in Dundas Street. We currently have
      3 teams in the <a href="https://www.chessedinburgh.co.uk/" target="external">Edinburgh League</a>,
      2 in the <a href="https://www.chessedinburgh.co.uk/allegroresults.php" target="external">Edinburgh Allegro</a>,
      2 in the <a href="http://snclchess.co.uk/" target="external">SNCL</a> and
      1 in the <a href="https://www.chessscotland.com/champions/spens-cup-winner/" target="external">Spen's Cup</a>.
    = link_to "https://goo.gl/maps/t2YAPtwi3UKA28Ze6", target: "external" do
      = image_tag("map.jpg", width: "100%", class: "mb-3", alt: "Clarke's Bar map")
    = image_tag("clarks_bar.jpg", width: "100%", alt: "Clarke's Bar")
