%section
  .body
    %p
      On a temporary basis, we are currently meeting on <b>Tuesday</b> evenings at <b>The Cumberland Bar</b>
      (<a href="https://goo.gl/maps/AoRdciY4iDVUNURSA" target="external">map</a>).
      In normal times we have teams in
      the <a href="https://www.chessedinburgh.co.uk/fixtures.php" target="external">Edinburgh League</a>,
      the <a href="https://www.chessedinburgh.co.uk/allegroresults.php" target="external">Edinburgh Allegro</a>,
      the <a href="http://chess-results.com/tnr484839.aspx?lan=1&art=2" target="external">SNCL</a> and
      the <a href="https://www.chessscotland.com/champions/spens-cup-winner/" target="external">Spen's Cup</a>,
      and run various internal tournaments for our members.
    = image_tag("cumberland.jpg", width: "100%", class: "styled", alt: "The Cumberland Bar")
