%section
  .body
    %p
      We meet on <b>Tuesday</b> evenings in <b>Clark's Bar</b> in Dundas Street, have teams in
      the <a href="https://www.chessedinburgh.co.uk/fixtures.php" target="external">Edinburgh League</a>,
      the <a href="https://www.chessedinburgh.co.uk/allegroresults.php" target="external">Edinburgh Allegro</a>,
      the <a href="http://chess-results.com/tnr484839.aspx?lan=1&art=2" target="external">SNCL</a> and
      the <a href="https://www.chessscotland.com/champions/spens-cup-winner/" target="external">Spen's Cup</a>,
      and run various internal tournaments for our members.
    = link_to "https://goo.gl/maps/t2YAPtwi3UKA28Ze6", target: "external" do
      = image_tag("map.jpg", width: "100%", class: "styled mb-3", alt: "Clark's Bar map")
    = image_tag("clarks_bar.jpg", width: "100%", class: "styled", alt: "Clark's Bar")
