.row
  %div{class: Sni::Center.call(lg: 6, md: 8, sm: 10)}
    %section
      .header.text-center
        %h3.d-inline= t("misc.env")
      .body
        %table{class: "table table-bordered table-sm"}
          %tbody
            - @sys_info.each do |key, value|
              %tr
                %th= key.to_s.humanize
                %td= value
