- set_meta_tags title: t("help.help"), description: t("help.description"), keywords: t("help.keywords")

.row
  %div{class: Sni::Center.call(xl: 8, lg: 10, md: 12)}
    %section
      .header.text-center
        %h3.d-inline= t("help.help")
      .body
        = render "help"
