.controls
  .row.justify-content-center
    .col-2.text-center
      %button.btn.btn-outline-dark{"data-btn" => "<<"}= "⇤"
    .col-2.text-center
      %button.btn.btn-outline-dark{"data-btn" => "<"}= "&nbsp;←&nbsp;".html_safe
    .col-2.text-center
      %button.btn.btn-outline-dark{"data-btn" => ">"}= "&nbsp;→&nbsp;".html_safe
    .col-2.text-center
      %button.btn.btn-outline-dark{"data-btn" => ">>"}= "⇥"
