.controls
  .row.justify-content-center
    .col-2.text-center
      %span.control{"data-direction" => "<<"}= "⇤"
    .col-2.text-center
      %span.control{"data-direction" => "<"}= "&nbsp;←&nbsp;".html_safe
    .col-2.text-center
      %span.control{"data-direction" => ">"}= "&nbsp;→&nbsp;".html_safe
    .col-2.text-center
      %span.control{"data-direction" => ">>"}= "⇥"
