.controls
  .row.justify-content-center
    .col-2.text-center
      %button.btn.btn-outline-dark= "⇤"
    .col-2.text-center
      %button.btn.btn-outline-dark= "&nbsp;←&nbsp;".html_safe
    .col-2.text-center
      %button.btn.btn-outline-dark= "&nbsp;→&nbsp;".html_safe
    .col-2.text-center
      %button.btn.btn-outline-dark= "⇥"
