- defined?(placeholder) || placeholder = label
- defined?(size) || size = 10
- defined?(value) || value = ''

= text_field_tag param, value, class: "form-control mr-1 mb-1", placeholder: placeholder, size: size
