// Bootstrap overides.
$link-hover-color: #07f
$navbar-dark-color: white
$navbar-dark-hover-color: #ddd
$navbar-dark-active-color: #ddd
// $dropdown-bg: #333940
// $dropdown-link-hover-color: #07f
// $dropdown-link-hover-bg: #333940

// Bootstrap
@import "bootstrap"

// Navbar
nav
  @extend .navbar, .navbar-expand-md, .navbar-dark, .bg-dark, .mb-3, .rounded

  button
    @extend .navbar-toggler

    span
      @extend .navbar-toggler-icon

  #navbar
    &>ul
      @extend .navbar-nav

      &>li
        @extend .nav-item

        &>a
          @extend .nav-link

      &>li.dropdown
        &>ul
          &>li
            &>a
              @extend .dropdown-item

// Crud forms - adpated from Pragmatic Studio prepared files for Rails 6 course.
form.crud

  textarea
    @extend .font-monospace
    font-size: 0.9rem
    height: 100%

  div.field_with_errors
    display: inline
    label
      color: $red
    input[type="text"], input[type="password"], textarea, select
      background: lighten($pink, 40%)

// For the form-less text-area on the contacts page.
textarea#emails_to_copy
  @extend .p-1, .font-monospace, .rounded
  font-size: 0.9rem
  width: 100%

// Flash notices. Note that, for dismissal, the class "alert" needs to be explicitly present in the HTML.
.flash
  text-align: center
  margin-top: -1rem
  margin-bottom: 1rem

  &.notice
    @extend .alert-success

  &.rails-alert
    @extend .alert-danger

// Blogs, sections
article, section
  @extend .card, .border-dark, .mb-3
  overflow: hidden

  .header
    @extend .card-header

  .body
    @extend .card-body
    overflow: hidden

  .footer
    @extend .card-footer

article

  table
    @extend .table-bordered, .table-light, .mb-3
    margin-left: auto
    margin-right: auto

    td
      @extend .p-1, .table-success

    th
      @extend .p-1, .table-info

// For game moves and controls
div.moves

  .comment
    color: $gray-600

  .current-move
    color: $light
    background-color: $dark

div.controls

  span
    @extend .badge, .bg-dark
    font-size: 1.0rem

  .control
    user-select: none
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none

// Images
img.styled
  @extend .border, .border-dark, .rounded

// Pre's
pre
  @extend .border, .border-dark, .p-2

// Links
a
  @extend .text-decoration-none

// Other imports
@import "chessboard"
