// Bootstrap overides.

$link-hover-color: #07f
$navbar-dark-color: white
$navbar-dark-hover-color: #ddd
$navbar-dark-active-color: #ddd
$dropdown-bg: #333940
$dropdown-link-hover-color: #07f
$dropdown-link-hover-bg: #333940

// Bootstrap

@import "bootstrap"

// Navbar
nav
  @extend .navbar, .navbar-expand-md, .navbar-dark, .sticky-top, .bg-dark, .mb-3

  &>a
    @extend .navbar-brand

    span
      @extend .d-lg-inline, .d-none

  button
    @extend .navbar-toggler

    span
      @extend .navbar-toggler-icon

  #navbar
    ul
      @extend .navbar-nav

      &.left
        @extend .mr-auto

      &.right
        @extend .ml-auto

      li
        @extend .nav-item

      a
        @extend .nav-link


// Crud forms - adpated from Pragmatic Studio prepared files for Rails 6 course.

form.crud
  margin-top: 1.5rem

  label
    font-size: 1.1rem
    font-weight: 600
    display: block

  input:not([type="checkbox"]):not([type="submit"]), textarea, select:not(.datetime)
    @extend .form-control
    margin-bottom: 0.75rem
    width: 100%

  textarea
    @extend .text-monospace
    font-size: 0.9rem

  input[type="checkbox"]
    // @extend .form-check-input   // this is causing problems
    width: 20px
    height: 20px

  input[type="submit"]
    @extend .btn, .btn-primary

  div.field_with_errors
    display: inline
    label
      color: $red
    input[type="text"], textarea, select
      background: lighten($pink, 40%)

// Flash notices. Note that, for dismissal, the class "alert" needs to be
// explicitly present in the HTML, so we can't just extend .flash with .alert.

.flash
  text-align: center
  margin-top: -1rem
  margin-bottom: 2rem

  &.notice
    @extend .alert-success

  &.rails-alert
    @extend .alert-danger

// Blogs, sections

article, section
  @extend .card, .border-dark, .mb-3

  .header
    @extend .card-header

  .body
    @extend .card-body

  .footer
    @extend .card-footer

  table
    @extend .table-bordered
    margin-left: auto
    margin-right: auto

    td, th
      @extend .p-1

// Images

img.styled
  @extend .border, .border-dark, .rounded

// Pre's

pre
  @extend .border, .border-dark, .p-2

@import "chessboard"
