- flash.each do |type, message|
  .flash.alert.alert-dismissable{class: type == "alert" ? "rails-alert" : type}
    %button.close{"type" => "button", "data-bs-dismiss" => "alert"}= t("symbol.cross")
    = message
