- flash.each do |type, msg|
  - if msg
    .flash.alert.alert-dismissable{class: type == "alert" ? "rails-alert" : type}
      %button.close{"type" => "button", "data-dismiss" => "alert"}= t("symbol.cross")
      = msg
