#flash_messages.row
  - flash.each do |name, msg|
    - if msg
      .col-12
        .text-center{class: flash_style(name)}
          %button.close{"type" => "button", "data-dismiss" => "alert"}= t("symbol.cross")
          = msg
